<center>
{% extends 'base.html.twig' %}

{% block title %}Autorzy{% endblock %}

{% block body %}
    <h1>Autorzy</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for autor in autors %}
            <tr>
                <td>{{ autor.id }}</td>
                <td>{{ autor.imie }}</td>
                <td>{{ autor.nazwisko }}</td>
                <td>
                    <a href="{{ path('autor_show', {'id': autor.id}) }}">Pokaż</a>
                    <a href="{{ path('autor_edit', {'id': autor.id}) }}">Edytuj</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Brak znalezionych rekordów</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('autor_new') }}">Dodaj autora</a>
{% endblock %}
</center>
