{% extends 'base.html.twig' %}

{% block title %}Dzielo index{% endblock %}

{% block body %}
    <h1>Dzielo index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tytul</th>
                <th>Kod_jezyka</th>
                <th>Rodzaj_dokumentu</th>
                <th>Polozenie_aktualne</th>
                <th>Zdjecie</th>
                <th>Czy_wypozyczone</th>
                <th>Czy_dla_doroslych</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dzielo in dzielos %}
            <tr>
                <td>{{ dzielo.id }}</td>
                <td>{{ dzielo.tytul }}</td>
                <td>{{ dzielo.kodJezyka }}</td>
                <td>{{ dzielo.rodzajDokumentu }}</td>
                <td>{{ dzielo.polozenieAktualne }}</td>
                <td>{{ dzielo.zdjecie }}</td>
                <td>{{ dzielo.czyWypozyczone ? 'Yes' : 'No' }}</td>
{#                <td>{{ dzielo.dataDodania ? dzielo.dataDodania|date('Y-m-d H:i:s') : '' }}</td>#}
{#                <td>{{ dzielo.dataUsuniecia ? dzielo.dataUsuniecia|date('Y-m-d H:i:s') : '' }}</td>#}
                <td>{{ dzielo.czyDlaDoroslych ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('dzielo_show', {'id': dzielo.id}) }}">show</a>
                    <a href="{{ path('dzielo_edit', {'id': dzielo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dzielo_new') }}">Create new</a>
{% endblock %}
